In [12]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('Unclean Datasets/WorldDependencyRatioData1960_2022.csv', skiprows=4)
del df['Indicator Name']
del df['Indicator Code']
del df['Unnamed: 67']


df.fillna(0, inplace=True)
df = df.convert_dtypes(convert_integer=True)

df['Country Name'] = df['Country Name'].str.upper()
df.rename(columns={'Country Name': 'Country'}, inplace=True)

yearList = [str(year)for year in np.arange(1960, 2023)]
df = pd.melt(df,id_vars='Country', value_vars=yearList, var_name="Year", value_name="dependency_ratio")
df

                           Country  Year  dependency_ratio
0                            ARUBA  1960          83.50079
1      AFRICA EASTERN AND SOUTHERN  1960         89.594604
2                      AFGHANISTAN  1960         80.051114
3       AFRICA WESTERN AND CENTRAL  1960         80.771787
4                           ANGOLA  1960         82.871313
...                            ...   ...               ...
16753                       KOSOVO  2022         46.032555
16754                  YEMEN, REP.  2022          72.88915
16755                 SOUTH AFRICA  2022         52.540842
16756                       ZAMBIA  2022         80.518599
16757                     ZIMBABWE  2022          78.43076

[16758 rows x 3 columns]

In [35]:
df.to_csv('Cleaned Datasets/CleanedDepRatio1960_2022.csv', index=False)