In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the unclean dataset
# First dataset comes from https://www.kaggle.com/datasets/fredericksalazar/average-years-of-schooling-since-1870-2017?resource=download
dfPre2017 = pd.read_csv('Unclean Datasets/mean-years-of-schooling-long-run.csv')

# The dataset needs to be delimited by Semicolon
fullColumnName = dfPre2017.columns[0]
newColumns = fullColumnName.split(';')

# Split the entires of the first column
dfPre2017['split'] = dfPre2017[dfPre2017.columns[0]].str.split(pat=';')

# Add the new columns
for i, col in enumerate(newColumns):
    dfPre2017[col] = dfPre2017['split'].str[i]

# Delete the unnecessary columns
del dfPre2017[fullColumnName]
del dfPre2017['split']

dfPre2017['Entity'] = dfPre2017['Entity'].str.upper()
#dfPre2017 = dfPre2017.pivot(index='Entity', columns='Year', values='avg_years_of_schooling')
dfPre2017

           Entity Code  Year avg_years_of_schooling
0     AFGHANISTAN  AFG  1870                   0.01
1     AFGHANISTAN  AFG  1875                   0.01
2     AFGHANISTAN  AFG  1880                   0.01
3     AFGHANISTAN  AFG  1885                   0.01
4     AFGHANISTAN  AFG  1890                   0.01
...           ...  ...   ...                    ...
7758     ZIMBABWE  ZWE  2013                      8
7759     ZIMBABWE  ZWE  2014                    8.2
7760     ZIMBABWE  ZWE  2015                    8.2
7761     ZIMBABWE  ZWE  2016                    8.2
7762     ZIMBABWE  ZWE  2017                    8.2

[7763 rows x 4 columns]

In [3]:
dfPost2017 = pd.read_csv("Unclean Datasets/mean-years-schooling-after-2017.csv") # Contains median data
# Second dataset: comes from https://globaldatalab.org/shdi/table/msch/
listToDelete = ['Level', 'GDLCODE', 'Region', 'Continent']
for col in listToDelete:
    del dfPost2017[col]

dfPost2017['Country'] = dfPost2017['Country'].str.upper()
# The problem is the two datasets have different numbers. But they do seem to be monotonic transformations kinda.
yearList = np.arange(1990, 2022)
yearList = [str(year) for year in yearList]
dfPost2017 = pd.melt(dfPost2017,id_vars='Country', value_vars=yearList)
dfPost2017

          Country variable   value
0     AFGHANISTAN     1990   0.971
1         ALBANIA     1990   7.355
2         ALGERIA     1990   4.615
3         ANDORRA     1990     NaN
4          ANGOLA     1990     NaN
...           ...      ...     ...
5979    VENEZUELA     2021  11.110
5980      VIETNAM     2021   8.370
5981        YEMEN     2021   3.200
5982       ZAMBIA     2021   7.187
5983     ZIMBABWE     2021   8.711

[5984 rows x 3 columns]

In [6]:
# Save both dataset
dfPre2017.to_csv('Cleaned Datasets/CleanedEducationData1870_2017.csv')
dfPost2017.to_csv('Cleaned Datasets/CleanedEducationData1990_2021.csv')