In [1]:
import numpy as np
import pandas as pd

In [2]:
population_data = pd.read_csv('Cleaned Datasets/cleaned_population_data.csv')
population_data

,Unnamed: 0,Country,Region,GENC,Year,Area in Square Kilometers,Population,Male Population,Female Population,Annual Growth Rate %,...,"Age 1-4 Mortality, Both Sexes","Age 1-4 Mortality, Males","Age 1-4 Mortality, Females","Under Age 5 Mortality, Both Sexes","Under Age 5 Mortality, Males","Under Age 5 Mortality, Females",Crude Death Rate,"Deaths, both sexes",Net Migration Rate,"Net international migrants, both sexes"
0,1,AFGHANISTAN,"1950,Afghanistan",AF,1950,652230,8150368,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,ALBANIA,"1950,Albania",AL,1950,27398,1227156,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,ALGERIA,"1950,Algeria",DZ,1950,2381740,8892718,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AMERICAN SAMOA,"1950,American Samoa",AS,1950,198,19100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,ANDORRA,"1950,Andorra",AD,1950,468,6176,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16719,16867,WALLIS AND FUTUNA,"2023,Wallis and Futuna",WF,2023,142,15929,8184.0,7745.0,0.23,...,0.5,0.5,0.5,4.4,4.3,4.5,5.9,94.0,-3.8,-61.0
16720,16868,WEST BANK,"2023,West Bank",XW,2023,5640,3176549,1614609.0,1561940.0,2.10,...,3.0,3.4,2.7,19.1,22.0,15.9,3.5,11058.0,-3.9,-12271.0
16721,16869,YEMEN,"2023,Yemen",YE,2023,527968,31565602,15935821.0,15629781.0,1.83,...,15.7,16.2,15.2,60.5,66.2,54.6,5.5,175014.0,-0.2,-5898.0
16722,16870,ZAMBIA,"2023,Zambia",ZM,2023,743398,20216029,10114935.0,10101094.0,2.86,...,16.6,17.4,15.7,52.3,56.5,48.0,6.0,121638.0,0.2,3144.0
16723,16871,ZIMBABWE,"2023,Zimbabwe",ZW,2023,386847,16819805,8179593.0,8640212.0,1.99,...,15.2,15.7,14.7,48.7,52.8,44.4,6.7,112296.0,-2.9,-47935.0

In [3]:
education_2017 = pd.read_csv('Cleaned Datasets/CleanedEducationData1870_2017.csv')
education_2017

          Country Code  Year  avg_years_of_schooling
0     AFGHANISTAN  AFG  1870                    0.01
1     AFGHANISTAN  AFG  1875                    0.01
2     AFGHANISTAN  AFG  1880                    0.01
3     AFGHANISTAN  AFG  1885                    0.01
4     AFGHANISTAN  AFG  1890                    0.01
...           ...  ...   ...                     ...
7758     ZIMBABWE  ZWE  2013                    8.00
7759     ZIMBABWE  ZWE  2014                    8.20
7760     ZIMBABWE  ZWE  2015                    8.20
7761     ZIMBABWE  ZWE  2016                    8.20
7762     ZIMBABWE  ZWE  2017                    8.20

[7763 rows x 4 columns]

In [4]:
world_gdp = pd.read_csv('Cleaned Datasets/World_GDP_cleaned.csv')
world_gdp

                           Country Code  Year           GDP
0                            ARUBA  ABW  1960           NaN
1      AFRICA EASTERN AND SOUTHERN  AFE  1960  1.847810e+10
2                      AFGHANISTAN  AFG  1960  5.377778e+08
3       AFRICA WESTERN AND CENTRAL  AFW  1960  1.041165e+10
4                           ANGOLA  AGO  1960           NaN
...                            ...  ...   ...           ...
16753                       KOSOVO  XKX  2022  9.409474e+09
16754                  YEMEN, REP.  YEM  2022           NaN
16755                 SOUTH AFRICA  ZAF  2022  4.052709e+11
16756                       ZAMBIA  ZMB  2022  2.916378e+10
16757                     ZIMBABWE  ZWE  2022  2.736663e+10

[16758 rows x 4 columns]

In [16]:
data = pd.merge(education_2017, world_gdp, on=['Code', 'Year'],how='inner', indicator=True)
# data[(data['Year'] == 2000)*(data['_merge'] != 'both')]
data = data.rename(columns={"Country_x": "Country"})
data

,Country,Code,Year,avg_years_of_schooling,Country_y,GDP,_merge
0,AFGHANISTAN,AFG,1960,0.22,AFGHANISTAN,5.377778e+08,both
1,AFGHANISTAN,AFG,1965,0.29,AFGHANISTAN,1.006667e+09,both
2,AFGHANISTAN,AFG,1970,0.35,AFGHANISTAN,1.748887e+09,both
3,AFGHANISTAN,AFG,1975,0.62,AFGHANISTAN,2.366667e+09,both
4,AFGHANISTAN,AFG,1980,0.78,AFGHANISTAN,3.641723e+09,both
...,...,...,...,...,...,...,...
5676,ZIMBABWE,ZWE,2013,8.00,ZIMBABWE,1.909102e+10,both
5677,ZIMBABWE,ZWE,2014,8.20,ZIMBABWE,1.949552e+10,both
5678,ZIMBABWE,ZWE,2015,8.20,ZIMBABWE,1.996312e+10,both
5679,ZIMBABWE,ZWE,2016,8.20,ZIMBABWE,2.054868e+10,both
5680,ZIMBABWE,ZWE,2017,8.20,ZIMBABWE,1.758489e+10,both

In [22]:
data_fertility_rate = pd.read_csv('Cleaned Datasets/cleaned_fertility_data.csv')
data_fertility_rate

       Unnamed: 0      Country  Year  Fertility Rate
0               0  AFGHANISTAN  1965            7.97
1               1  AFGHANISTAN  1966            8.21
2               2  AFGHANISTAN  1967            8.32
3               3  AFGHANISTAN  1968            8.23
4               4  AFGHANISTAN  1969            8.07
...           ...          ...   ...             ...
12704       79740     ZIMBABWE  2012            3.81
12705       79748     ZIMBABWE  2012            4.33
12706       79756     ZIMBABWE  2013            4.21
12707       79764     ZIMBABWE  2014            4.02
12708       79773     ZIMBABWE  2017            3.68

[12709 rows x 4 columns]

In [21]:
data_with_population = pd.merge(data, population_data, on=['Country', 'Year'] , how='inner')
df = pd.merge(data_with_population, data_fertility_rate, on=['Country', 'Year'] , how='inner')
df

,Country,Code,Year,avg_years_of_schooling,Country_y,GDP,_merge,Unnamed: 0_x,Region,GENC,...,"Age 1-4 Mortality, Females","Under Age 5 Mortality, Both Sexes","Under Age 5 Mortality, Males","Under Age 5 Mortality, Females",Crude Death Rate,"Deaths, both sexes",Net Migration Rate,"Net international migrants, both sexes",Unnamed: 0_y,Fertility Rate
0,AFGHANISTAN,AFG,1965,0.29,AFGHANISTAN,1.006667e+09,both,3421,"1965,Afghanistan",AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,7.97
1,AFGHANISTAN,AFG,1970,0.35,AFGHANISTAN,1.748887e+09,both,4561,"1970,Afghanistan",AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,7.98
2,AFGHANISTAN,AFG,1975,0.62,AFGHANISTAN,2.366667e+09,both,5701,"1975,Afghanistan",AF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,8.45
3,AFGHANISTAN,AFG,1990,1.49,AFGHANISTAN,NaN,both,9121,"1990,Afghanistan",AF,...,103.8,251.3,255.7,246.7,22.5,305242.0,-51.2,-695106.0,61,7.73
4,AFGHANISTAN,AFG,1990,1.49,AFGHANISTAN,NaN,both,9121,"1990,Afghanistan",AF,...,103.8,251.3,255.7,246.7,22.5,305242.0,-51.2,-695106.0,62,7.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6181,ZIMBABWE,ZWE,2012,7.90,ZIMBABWE,1.711485e+10,both,14363,"2012,Zimbabwe",ZW,...,23.9,70.4,75.9,64.8,10.1,134850.0,-20.2,-269564.0,79740,3.81
6182,ZIMBABWE,ZWE,2012,7.90,ZIMBABWE,1.711485e+10,both,14363,"2012,Zimbabwe",ZW,...,23.9,70.4,75.9,64.8,10.1,134850.0,-20.2,-269564.0,79748,4.33
6183,ZIMBABWE,ZWE,2013,8.00,ZIMBABWE,1.909102e+10,both,14591,"2013,Zimbabwe",ZW,...,21.2,65.7,71.0,60.3,9.4,127346.0,-5.0,-67451.0,79756,4.21
6184,ZIMBABWE,ZWE,2014,8.20,ZIMBABWE,1.949552e+10,both,14819,"2014,Zimbabwe",ZW,...,19.9,63.2,68.3,57.9,9.1,125927.0,-5.5,-75299.0,79764,4.02
6185,ZIMBABWE,ZWE,2017,8.20,ZIMBABWE,1.758489e+10,both,15503,"2017,Zimbabwe",ZW,...,16.4,56.1,61.0,51.1,8.2,121349.0,0.3,3719.0,79773,3.68

In [19]:
data_with_population.to_csv("Cleaned Datasets/Merged_data.csv",index = False)